#all-comments .comment a.avatar { position: absolute; }
#all-comments .comment .content { margin-left: 45px; margin-right: 15px; }
#all-comments .comment .actions-menu {
    position: absolute !important;
    right: 15px;
    top: 10px;
}



#troll-table-wrapper {
  border: 1px solid black !important;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #E2E2E2;
  height: 110px;
}

/* contains the troll image */
#troll-table-wrapper #troll-image-wrapper,
#troll-table-wrapper #clear-all-comments {
  height: 100%;
  display: inline-block;
  min-width: 60px;
  width: 24%;
}

#troll-table-wrapper #troll-image-wrapper {
  background: url('chrome-extension://__MSG_@@extension_id__/images/trollx60.png') no-repeat center center;
  border-right: 1px solid black !important;
  background-color: lightgray;
  border-radius: 5px 0 0 5px;
}

#troll-table-wrapper #clear-all-comments {
  background-color: rgba(22,122,198,0.9);
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-left: 1px solid black !important;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 0;
  right: 0;
}


/* contains list of troll  */
#troll-table-wrapper #troll-names-wrapper {
  width: 50%;
  min-width: 180px;
  height: 100%;
  display: inline-block;
  overflow-y: scroll;
}

#troll-table-wrapper #troll-names-wrapper table {
  margin: auto;
  width: 100%;
}
#troll-table-wrapper #troll-names-wrapper table #table-header{
  border-bottom: 2px solid black;
}

#troll-table-wrapper #troll-names-wrapper table th,
#troll-table-wrapper #troll-names-wrapper table td {
  border-bottom: 1px solid #ddd;
  padding: 5px 5px 5px 0;
  text-align: left;

}
#troll-table-wrapper #troll-names-wrapper table th{
  color: rgba(22, 122, 198, 0.901961);
}
#troll-table-wrapper #troll-names-wrapper table caption
{
  font-weight: bold;
}

#troll-table-wrapper #troll-names-wrapper .troll {
  margin-bottom: 10px;
  height: 18px;
  overflow: ellipsis;
}

#troll-table-wrapper #troll-names-wrapper .troll .remove-name {
  display: inline;
  position: relative;
  cursor: pointer;
  min-width: 15px;
}

#troll-table-wrapper #troll-names-wrapper .troll .troll-name{
  max-width: 100px;
}

#troll-table-wrapper #troll-names-wrapper .troll .comment-counter{
  color: red;
  font-weight: bold;
}


/* Below css prevents all and selects shows approved comments */
#all-comments > li{
  display: none;
}

#all-comments > li.approved-comment{
  display: inherit;
}




#troll-table-wrapper #import-form,
#troll-table-wrapper #export-form {
  /*display: none;*/
}

#troll-extension-wrapper #troll-import-export-wrapper {
  margin-top: 5px;

}
#troll-extension-wrapper #import-export-links-wrapper {
  width: 100%;
  height: 15px;
}
#troll-extension-wrapper #import-export-links-wrapper #import-names-link {
  display: inline;
  float: left;
  margin-left: 15px;
}
#troll-extension-wrapper #import-export-links-wrapper #export-names-link {
  display: inline;
  float: right;
  margin-right: 15px;
}


