// CSS Grid 1 (Outer components)
//#troll-extension-wrapper
  // #arrow-wrapper
  // #shrinkable-area

// CSS Grid 2 (Blocking Components Grid)
// #outer-grid-wrapper
  // #troll-image-wrapper
  // #troll-names-wrapper
  // #clear-button-container


// const YOUTUBE_SELECTORS = new function(){
  // $PARENT_OF_IFRAME_LOADING_CHATBOX: '.live-chat-expander';
  // $APPEND_EXTENTION_TO: 'yt-live-chat-message-input-renderer';
  $COMMENTS_WRAPPER: '#items.style-scope.yt-live-chat-item-list-renderer'; // inside this.COMMENTS_WRAPPER
  $COMMENT: 'yt-live-chat-text-message-renderer';  // inside this.COMMENTS_WRAPPER
  // $TROLL_IMG: "#author-photo";                     // inside this.COMMENT
  // $TROLL_NAME: '#author-name';                     // inside this.COMMENT

  $IMPORT_EXPORT_AREA_GRID_TEMPLATE_COLUMNS: minmax(94px, 2fr) 6fr minmax(94px, 2fr);
  $OUTER_GRID_WRAPPER_GRID_TEMPLATE_COLUMNS: $IMPORT_EXPORT_AREA_GRID_TEMPLATE_COLUMNS;


  #{$COMMENTS_WRAPPER} > #{$COMMENT} {
    display: none;
    &.approved-comment {
      display: flex !important;
    }
  }
// youtube live chat style override - END


* { box-sizing: border-box; }

#troll-extension-wrapper {
  margin-top: 10px;

  #iframe-loads-chatroom-warning {
    box-sizing: border-box;
    border: 5px solid black;
    padding: 5px;
    background-color: orange;
    opacity: 0.85;

    * { font-weight: bold }

    p {
      text-align: center;

      &.warning-header {
        font-weight: bold !important;

      }
      &.warning-orange {
        // color: orangered !important;
      }
    }
  }
  #arrow-wrapper {
    #expand-arrow-wrapper:hover, #minimize-arrow-wrapper:hover {
      cursor: pointer;
    }
    border: 1px solid black;
    border-radius: 5px;
    background: lightgray;
    * {
      color: rgba(22, 122, 198, 0.90196);
      font-weight: bold;
      font-size: 16px;
    }
    #expand-arrow-wrapper p, #minimize-arrow-wrapper p {
      display: inline;

      &:before {
        position: absolute;
        margin: -2px 0 2px -41px;
      }
      &:after {
        position: absolute;
        margin: -2px 0 2px 25px;
      }
    }

    #minimize-arrow-wrapper p {
      margin: 4px 0;
      &:before { content: '⬇' }
      &:after  { content: '⬇' }
    }

    #expand-arrow-wrapper p {
      margin: 4px 0;
      &:before { content: '⬆'; }
      &:after  { content: '⬆'; }
    }

    text-align: center;
    img.minimize-arrow {
      transform: rotate(180deg);
    }
    #expand-arrow-wrapper {
      display: none;
    }
  }

  &.minimize {
    #shrinkable-area {
      display: none;
    }
    #arrow-wrapper {
      #minimize-arrow-wrapper {
        display: none;
      }
      #expand-arrow-wrapper {
        display: block;
      }
    }
  }

  #shrinkable-area {
    margin: 5px 0;
    display: grid;

    #outer-grid-wrapper {
      display: grid;

      grid-template-columns: $OUTER_GRID_WRAPPER_GRID_TEMPLATE_COLUMNS;
      grid-auto-rows: 118px;

      border: 1px solid black !important;
      border-radius: 5px;
      border: 1px solid #E2E2E2;

      #troll-image-wrapper, #clear-all-comments {
        height: 100%;
        width: 100%;
      }
      #troll-image-wrapper {
        background: url('chrome-extension://__MSG_@@extension_id__/images/trollx60.png') no-repeat center center;
        border-right: 1px solid black !important;
        background-color: lightgray;
        border-radius: 5px 0 0 5px;
      }
      #clear-all-comments {
        background-color: rgba(22, 122, 198, 0.9);
        cursor: pointer;
        color: white;
        font-weight: bold;
        border-left: 1px solid black !important;
        border-radius: 0 5px 5px 0;

        &:active {
          color: rgb(222,222,222);
        }
      }
      #troll-names-wrapper {
        display: grid;
        grid-template-columns: minmax(15px, 1fr) 8fr minmax(15px, 2fr);
        grid-auto-rows: 18px;
        grid-gap: 2px;
        overflow-y: scroll;

        & > * { display: subgrid; text-indent: 5px; }
        &::-webkit-scrollbar { width: 0 !important }

        strong {
          color: black;
          font-weight: 700;
        }

        .grid-header {
          border-bottom: 2px solid black;
          color: rgba(22, 122, 198, 0.90196);
          text-indent: 5px;
        }

        .caption {
          grid-column: 1 / -1;
          justify-self: center;
          align-self: center;
          font-weight: bold;
          margin: 0;
        }

        .troll {
          display: contents;

          .remove-name {
            display: inline;
            position: relative;
            cursor: pointer;
            margin-top: -1px; // 2px of white space at the top of the img
            min-width: 15px;
          }
          .troll-name {
            overflow: hidden;

            p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              margin: 0;
              width: 100%;
            }
          }
          .comment-counter {
            color: red;

            font-weight: bold;
          }
        }
      }
    }


    #troll-import-export-wrapper {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: $IMPORT_EXPORT_AREA_GRID_TEMPLATE_COLUMNS;
      grid-auto-rows: repeat(5, 20px);
      // grid-template-areas: 'import-names-link      .                     export-names-link'
      //                      'append-radio-button    import-names-textarea import-submit-button'
      //                      'overwrite-radio-button import-names-textarea import-close-button'
      //                      'export-text            export-names-textarea export-close-button'
      //                      'export-text            export-names-textarea export-close-button';

      input[type='button'] {
        background-color: rgba(22, 122, 198, 0.9);
        color: white;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
      }

      & > a#import-names-link {
        // grid-area: 'import-names-link' !important;
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;

        &:link, &:visited, &:hover, &:active {
          color: rgba(22, 122, 198, 0.90196);
        }
      }
      & > a#export-names-link {
        // grid-area: 'export-names-link' !important;
        grid-column: 3;
        grid-row: 1;
        align-self: center;
        justify-self: center;

        &:link, &:visited, &:hover, &:active {
          color: rgba(22, 122, 198, 0.90196);
        }
      }

      & > form.append-radio-button-wrapper {
        // grid-area: 'append-radio-button' !important;
        grid-column: 1;
        grid-row: 2;
        padding-right: 10px; // align the append radio button with the overwrite button
        align-self: center;
        justify-self: end;

      }

      & > div.overwrite-radio-button-wrapper {
        // grid-area: 'overwrite-radio-button' !important;
        grid-column: 1;
        grid-row: 3;
        align-self: center;
        justify-self: end;

      }

      & > p#export-text {
        grid-area: 'export-text' !important;
        align-self: center;
        justify-self: end;
        grid-column: 1;
        grid-row: 4 / 5;
      }


      & > textarea#import-names-textarea {
        // grid-area: 'import-names-textarea' !important;
        grid-column: 2;
        grid-row: 2 / 4;
        margin: auto;
        height: 100%;
        width: 100%;
      }

      & > input#import-submit-button {
        // grid-area: 'import-submit-button' !important;
        grid-column: 3;
        grid-row: 2;
      }

      & > input#import-close-button {
        background-color: gray;
        // grid-area: 'import-close-button' !important;
        grid-column: 3;
        grid-row: 3;
      }

      & > form#export-form {
        grid-column: 3;
        grid-row: 4/5;

        #export-close-button {
          // grid-area: 'export-close-button' !important;
          background-color: gray;
          height: 100%;
          width: 100%;
        }
      }
      & > textarea#export-names-textarea {
        // grid-area: 'export-names-textarea' !important;
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 4 / 5;
      }
      & > .row-2,
      & > .row-3,
      & > .row-4,
      & > .row-5 {
        display: none;
      }
    }
  }
}

/* begin -- when extension expanded */

/*#troll-extension-wrapper #arrow-wrapper img {
  display: inline;
  margin: auto;
  height: 25px;
  width: 25px;
  background: url('chrome-extension://__MSG_@@extension_id__/images/arrow.png') no-repeat center center;
  vertical-align: middle;
}*/

/* end -- when extension expanded */

/* begin -- animate minimizing the extension*/

/* end -- animate minimizing the extension*/

/* contains the troll image */

/* contains list of troll  */

/* Below css prevents all and selects shows approved comments */
