@charset "UTF-8";
#items.style-scope.yt-live-chat-item-list-renderer > yt-live-chat-text-message-renderer {
  display: none; }
  #items.style-scope.yt-live-chat-item-list-renderer > yt-live-chat-text-message-renderer.approved-comment {
    display: flex !important; }

* {
  box-sizing: border-box; }

#troll-extension-wrapper {
  margin-top: 10px; }
  #troll-extension-wrapper #iframe-loads-chatroom-warning {
    box-sizing: border-box;
    border-radius: 5px;
    border: 5px solid black;
    padding: 5px;
    background-color: rgba(76, 175, 80, 0.85); }
    #troll-extension-wrapper #iframe-loads-chatroom-warning * {
      font-weight: bold; }
    #troll-extension-wrapper #iframe-loads-chatroom-warning .warning-header {
      text-align: center;
      font-size: 18px;
      margin: 5px 0; }
    #troll-extension-wrapper #iframe-loads-chatroom-warning .warning-orange {
      color: gold;
      font-weight: bold;
      font-size: 16px;
      text-align: center; }
    #troll-extension-wrapper #iframe-loads-chatroom-warning #warning-solutions-wrapper {
      width: 80%;
      margin: auto;
      display: grid;
      grid-gap: 4px;
      grid-template-columns: minmax(40px, 1fr) minmax(50px, 3fr);
      grid-auto-rows: minmax(15px, auto); }
      #troll-extension-wrapper #iframe-loads-chatroom-warning #warning-solutions-wrapper > *:nth-child(odd) {
        justify-self: center; }
      #troll-extension-wrapper #iframe-loads-chatroom-warning #warning-solutions-wrapper > * {
        margin: 0;
        font-size: 12px; }
  #troll-extension-wrapper #arrow-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    background: lightgray;
    text-align: center; }
    #troll-extension-wrapper #arrow-wrapper #expand-arrow-wrapper:hover, #troll-extension-wrapper #arrow-wrapper #minimize-arrow-wrapper:hover {
      cursor: pointer; }
    #troll-extension-wrapper #arrow-wrapper * {
      color: rgba(22, 122, 198, 0.90196);
      font-weight: bold;
      font-size: 16px; }
    #troll-extension-wrapper #arrow-wrapper #expand-arrow-wrapper p, #troll-extension-wrapper #arrow-wrapper #minimize-arrow-wrapper p {
      display: inline; }
      #troll-extension-wrapper #arrow-wrapper #expand-arrow-wrapper p:before, #troll-extension-wrapper #arrow-wrapper #minimize-arrow-wrapper p:before {
        position: absolute;
        margin: -2px 0 2px -41px; }
      #troll-extension-wrapper #arrow-wrapper #expand-arrow-wrapper p:after, #troll-extension-wrapper #arrow-wrapper #minimize-arrow-wrapper p:after {
        position: absolute;
        margin: -2px 0 2px 25px; }
    #troll-extension-wrapper #arrow-wrapper #minimize-arrow-wrapper p {
      margin: 4px 0; }
      #troll-extension-wrapper #arrow-wrapper #minimize-arrow-wrapper p:before {
        content: "⬇"; }
      #troll-extension-wrapper #arrow-wrapper #minimize-arrow-wrapper p:after {
        content: "⬇"; }
    #troll-extension-wrapper #arrow-wrapper #expand-arrow-wrapper p {
      margin: 4px 0; }
      #troll-extension-wrapper #arrow-wrapper #expand-arrow-wrapper p:before {
        content: '⬆'; }
      #troll-extension-wrapper #arrow-wrapper #expand-arrow-wrapper p:after {
        content: '⬆'; }
    #troll-extension-wrapper #arrow-wrapper img.minimize-arrow {
      transform: rotate(180deg); }
    #troll-extension-wrapper #arrow-wrapper #expand-arrow-wrapper {
      display: none; }
  #troll-extension-wrapper.minimize #shrinkable-area {
    display: none; }
  #troll-extension-wrapper.minimize #arrow-wrapper #minimize-arrow-wrapper {
    display: none; }
  #troll-extension-wrapper.minimize #arrow-wrapper #expand-arrow-wrapper {
    display: block; }
  #troll-extension-wrapper #shrinkable-area {
    margin: 5px 0;
    display: grid; }
    #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper {
      display: grid;
      grid-template-columns: minmax(94px, 2fr) 6fr minmax(94px, 2fr);
      grid-auto-rows: 118px;
      border: 1px solid black !important;
      border-radius: 5px;
      border: 1px solid #E2E2E2; }
      #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-image-wrapper, #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #clear-all-comments {
        height: 100%;
        width: 100%; }
      #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-image-wrapper {
        background: url("chrome-extension://__MSG_@@extension_id__/images/trollx60.png") no-repeat center center;
        border-right: 1px solid black !important;
        background-color: lightgray;
        border-radius: 5px 0 0 5px; }
      #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #clear-all-comments {
        background-color: rgba(22, 122, 198, 0.9);
        cursor: pointer;
        color: white;
        font-weight: bold;
        border-left: 1px solid black !important;
        border-radius: 0 5px 5px 0; }
        #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #clear-all-comments:active {
          color: #dedede; }
      #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper {
        display: grid;
        grid-template-columns: minmax(15px, 1fr) 8fr minmax(15px, 2fr);
        grid-auto-rows: 18px;
        grid-gap: 2px;
        overflow-y: scroll; }
        #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper > * {
          display: subgrid;
          text-indent: 5px; }
        #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper::-webkit-scrollbar {
          width: 0 !important; }
        #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper strong {
          color: black;
          font-weight: 700; }
        #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper .grid-header {
          border-bottom: 2px solid black;
          color: rgba(22, 122, 198, 0.90196);
          text-indent: 5px; }
        #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper .caption {
          grid-column: 1 / -1;
          justify-self: center;
          align-self: center;
          font-weight: bold;
          margin: 0; }
        #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper .troll {
          display: contents; }
          #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper .troll .remove-name {
            display: inline;
            position: relative;
            cursor: pointer;
            margin-top: -1px;
            min-width: 15px; }
          #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper .troll .troll-name {
            overflow: hidden; }
            #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper .troll .troll-name p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              margin: 0;
              width: 100%; }
          #troll-extension-wrapper #shrinkable-area #outer-grid-wrapper #troll-names-wrapper .troll .comment-counter {
            color: red;
            font-weight: bold; }
    #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: minmax(94px, 2fr) 6fr minmax(94px, 2fr);
      grid-auto-rows: repeat(5, 20px); }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper input[type='button'] {
        background-color: rgba(22, 122, 198, 0.9);
        color: white;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        outline: none; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#import-names-link {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center; }
        #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#import-names-link:link, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#import-names-link:visited, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#import-names-link:hover, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#import-names-link:active {
          color: rgba(22, 122, 198, 0.90196); }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#export-names-link {
        grid-column: 3;
        grid-row: 1;
        align-self: center;
        justify-self: center; }
        #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#export-names-link:link, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#export-names-link:visited, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#export-names-link:hover, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > a#export-names-link:active {
          color: rgba(22, 122, 198, 0.90196); }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > form.append-radio-button-wrapper {
        grid-column: 1;
        grid-row: 2;
        padding-right: 10px;
        align-self: center;
        justify-self: end; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > div.overwrite-radio-button-wrapper {
        grid-column: 1;
        grid-row: 3;
        align-self: center;
        justify-self: end; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > p#export-text {
        grid-area: 'export-text' !important;
        align-self: center;
        justify-self: end;
        grid-column: 1;
        grid-row: 4 / 5; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > textarea#import-names-textarea {
        grid-column: 2;
        grid-row: 2 / 4;
        margin: auto;
        height: 100%;
        width: 100%; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > input#import-submit-button {
        grid-column: 3;
        grid-row: 2; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > input#import-close-button {
        background-color: gray;
        grid-column: 3;
        grid-row: 3; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > form#export-form {
        grid-column: 3;
        grid-row: 4/5; }
        #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > form#export-form #export-close-button {
          background-color: gray;
          height: 100%;
          width: 100%; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > textarea#export-names-textarea {
        width: 100%;
        height: 100%;
        grid-column: 2;
        grid-row: 4 / 5; }
      #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > .row-2, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > .row-3, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > .row-4, #troll-extension-wrapper #shrinkable-area #troll-import-export-wrapper > .row-5 {
        display: none; }

/* begin -- when extension expanded */
/*#troll-extension-wrapper #arrow-wrapper img {
  display: inline;
  margin: auto;
  height: 25px;
  width: 25px;
  background: url('chrome-extension://__MSG_@@extension_id__/images/arrow.png') no-repeat center center;
  vertical-align: middle;
}*/
/* end -- when extension expanded */
/* begin -- animate minimizing the extension*/
/* end -- animate minimizing the extension*/
/* contains the troll image */
/* contains list of troll  */
/* Below css prevents all and selects shows approved comments */

/*# sourceMappingURL=troll_starver.css.map */
