#troll-extension-wrapper {

  position: relative;
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #E2E2E2;
  height: 124px;
}

/* contains the troll image */
#troll-extension-wrapper #troll-image-wrapper {
  width: 15%;
  min-width: 60px;

  margin-top: 15px;
  padding: 10px;
  display: inline-block;
  /*position: absolute;*/
  border: 1px solid black;
}

/* contains list of troll  */
#troll-extension-wrapper #troll-names-wrapper{

  height: 110px;
  display: inline-block;
  position: relative;
  left: 100px;
  top: 0;
  overflow-y: scroll;
}

#troll-extension-wrapper #troll-names-wrapper th,
#troll-extension-wrapper #troll-names-wrapper td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

#troll-extension-wrapper #troll-names-wrapper .troll {
  margin-bottom: 10px;
  height: 18px;
  width: 200px;
  overflow: ellipsis;
}
#troll-extension-wrapper #troll-names-wrapper .troll > * {
  /*margin-right: 5px;*/
  /*display: inline;*/
}
#troll-extension-wrapper #troll-names-wrapper .troll :last-element {
  /*margin-right: 0;*/
}

#troll-extension-wrapper #troll-names-wrapper .troll .remove-name {
  max-width: 140px;
  width: 33%;
}

#troll-extension-wrapper #troll-names-wrapper .troll .remove-name {
  display: inline;
  position: relative;
  top: 4px;
  cursor: pointer;
}
#troll-extension-wrapper #troll-names-wrapper .troll .comment-counter{
  color: red;
  font-weight: bold;
}

#troll-extension-wrapper #clear-all-comments-wrapper {
  display: inline;

}

#troll-extension-wrapper #clear-all-comments {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 95px;
  height: 100%;
  background-color: lightblue;
}



      /*<ul >
        <li class='troll'>
          <img class='remove-name' src=${remove_name_src}></img>
          <label class='troll-name'>here</label>
        </li>
      </ul>*/
